mixin pagination()
  .pagination
    .pagination__page
      .pagination__page-1
        a.pagination__page-1-a(href="/mock-address/change-me")="1"
      .pagination__page-all
        a.pagination__page-all-a(href="/mock-address/change-me")="2"
      .pagination__page-all
        a.pagination__page-all-a(href="/mock-address/change-me")="3"
      .pagination__page-all
        a.pagination__page-all-a(href="/mock-address/change-me")="..."
      .pagination__page-all
        a.pagination__page-all-a(href="/mock-address/change-me")="15"
      .pagination__page-6
        a.pagination__page-6-a(href="/mock-address/change-me")="arrow_forward"
    .pagination__variant="1 - 12 из 100+ вариантов аренды"
