include ./../subscribe-mail/subscribe-mail.pug

mixin footer({footer= "end"})
  if footer == "end"
    footer.footer_end
      .footer_end__label
        .footer_end__label-label
        .footer_end__label-text="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        .footer_end__socialize
          a.footer_end__tvitter(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          a.footer_end__facebook(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
          a.footer_end__instagram(href="/mock-address/change-me" target="_blank" rel="noopener noreferrer")
  else
    footer.footer
      -let items = ["home", "about", "services", "careers", "news", "documentation"]
      .footer__top
        .footer__label
          .footer__label-label
          .footer__label-text="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        nav.footer__navigation
          span.footer__headers="Navigation"
          each item in items
            a(href="/mock-address/change-me" class="footer__items footer__"+item)=item
        .footer__about
          span.footer__headers="About Us"
          a.footer__who(href="/mock-address/change-me")="Who we are"
          a.footer__team(href="/mock-address/change-me")="Our team"
          a.footer__careers(href="/mock-address/change-me")="Careers"
          a.footer__investors(href="/mock-address/change-me")="Investors"
        .footer__support
          span.footer__headers="Support"
          a.footer__doc(href="/mock-address/change-me")="Documentation"
          a.footer__community(href="/mock-address/change-me")="Community"
          a.footer__get(href="/mock-address/change-me")="Get in Touch"
        .footer__subscribe
          span.footer__headers="Subscribe to our newsletter"
          span.footer__text="Receive our latest news and promotions in your inbox!"
          +subscribe-mail()
      .footer__bottom
        .footer__bottom-left="Copyright © 2018 Toxin UI Kit. All rights reserved."
        .footer__bottom-right
          a.footer__twitter(href="/mock-address/change-me" target="_blank")
          a.footer__facebook(href="/mock-address/change-me" target="_blank")
          a.footer__instagram(href="/mock-address/change-me" target="_blank")
