mixin statistic-votes
  .statistic-votes
    .statistic-votes__draw
      canvas.statistic-votes__canvas(width="132" height="132")
    .statistic-votes__colors
      .statistic-votes__li
        .statistic-votes__bef
          .statistic-votes__before.statistic-votes__item-1
        span.statistic-votes__content="Великолепно"
      .statistic-votes__li
        .statistic-votes__bef
          .statistic-votes__before.statistic-votes__item-2
        span.statistic-votes__content="Хорошо"
      .statistic-votes__li
        .statistic-votes__bef
          .statistic-votes__before.statistic-votes__item-3
        span.statistic-votes__content="Удовлетворительно"
      .statistic-votes__li
        .statistic-votes__bef
          .statistic-votes__before.statistic-votes__item-4
        span.statistic-votes__content="Разочарован"
    .statistic-votes__votes-number
      span.statistic-votes__number="280"
      span.statistic-votes__text="голосов"